.root {
    -fx-background-image: url("/assets/dirt_console.png");
    -fx-font-family: "minecraft";
    -fx-font-size: 14;
}
#layout {
    -fx-padding: 10 10 10 10;
}
#layout .label {
   -fx-text-fill: white;
   -fx-margin: 0 0 20 0;
}
.table-view {
    -fx-effect: innershadow(three-pass-box, #000000, 15, 0.5, 0, 0);
    -fx-background-image: url("/assets/dirt_console_dark.png");
 }
.column-header,
.filler {
    -fx-background-color: #A0A0A0;
}
.table-row-cell {
    -fx-background-color: transparent;
}
.table-row-cell .text {
    -fx-fill: white;
}
.table-row-cell:selected {
    -fx-background-color: #CCCCCC;
}

#header {
    -fx-padding: 0 0 10 0;
}

#bpButtons {
    -fx-padding: 0 0 0 10;
}

#hboxButtons {
    -fx-padding: 10 0 0 0;
}

/************************************
*           Button                  *
************************************/
#layout .button {
    -fx-background-image: url("/assets/button40_center.png"), url("/assets/button40_right.png"), url("/assets/button40_left.png");
    -fx-background-position: center, right, left;
    -fx-background-repeat: repeat-x, no-repeat, no-repeat;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}
#layout .button:hover {
    -fx-background-image: url("/assets/button40_center_hover.png"), url("/assets/button40_right_hover.png"), url("/assets/button40_left_hover.png");
    -fx-background-position: center, right, left;
    -fx-background-repeat: repeat-x, no-repeat, no-repeat;
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-text-fill: #FFFFA0;
}

/************************************
*           Scrollbar               *
************************************/

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 12 0 0;
}
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 12 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: black;
	-fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #C0C0C0;
    -fx-effect: innershadow(three-pass-box, #808080, 0, 0, -2, -2);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

