.root {
    -fx-background-image: url("/assets/dirt_console.png");
    -fx-font-family: "minecraft";
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 10 10 10;
}
#fpConfigContent {
    -fx-effect: innershadow(three-pass-box, #000000, 15, 0.5, 0, 0);
    -fx-padding: 10 10 10 10;
}
#gpConfigContainer {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/dirt_console_dark.png");
    -fx-padding: 10 10 10 10;
    -fx-vgap: 30;
    -fx-hgap: 20;
}
#gpConfigContainer .label {
    -fx-text-alignment: right;
    -fx-text-fill: white;
}
#gpConfigContainer .text-field {
    -fx-background-color: black;
    -fx-border-color: #A0A0A0;
    -fx-border-width: 2;
    -fx-text-fill: #CCCCCC;
}
/************************************
*           Button                  *
************************************/

#gpButtons {
    -fx-padding: 10 10 10 10;
    -fx-hgap: 30;
}
#gpButtons .button {
    -fx-background-image: url("/assets/button40_center.png"), url("/assets/button40_right.png"), url("/assets/button40_left.png");
    -fx-background-position: center, right, left;
    -fx-background-repeat: repeat-x, no-repeat, no-repeat;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}
#gpButtons .button:hover {
    -fx-background-image: url("/assets/button40_center_hover.png"), url("/assets/button40_right_hover.png"), url("/assets/button40_left_hover.png");
    -fx-background-position: center, right, left;
    -fx-background-repeat: repeat-x, no-repeat, no-repeat;
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-text-fill: #FFFFA0;
}